@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #443232 15.62%, #C2994A 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.logo {
    height: 72px;
    width: 72px;
    border-radius: 72px;
}

.menu {
    display: flex;
    gap: 32px;
}

.menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFFAF0;
    font-weight: 400;
    font-size: 18px;
}

.main {
    border-top: 0.4px solid #FFFAF0;
    margin-bottom: 48px;
}

.principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.principal-escrita {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFFAF0;
}

.principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFFAF0;
}

.botão {
    background-color: #FFFAF0;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #443232;
}

.botão:hover {
    background-color: #dac59b;
}

.logo-desenho {
    height: 480px;
}

.secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.secundario-titulo {
    border-top: 0.4px solid #FFFAF0;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFFAF0;
    margin-bottom: 16px;
}

.secundario-escrita {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #FFFAF0;
}

.footer {
    padding: 32px;
    border-top: 0.4px solid #FFFAF0;
}

.logo-escrita {
    height: 64px;
    display: block;
    margin: 0 auto;
}